<input class="os-search"
       type="search"
       autocomplete="on"
       placeholder="Start typing to search..."
       ng-model="searchInput"/>
<div class="os-search-results" ng-show="searchInput.length > 2">
    <div ng-repeat="data in searchResults | orderObjectBy:'received'">
        <div class="os-search-result-header">{{searchProviders[data.providerId].title}}</div>
        <div class="os-search-result" ng-if="data.inProgress">
            <p>In progress...</p>
        </div>
        <div class="os-search-result" ng-if="data.error">
            <p>Error</p>
        </div>
        <div class="os-search-result"
             ng-if="data.results"
             ng-repeat="result in data.results"
             ng-click="selectResult(result)">
            <p ng-if="result.text">{{result.text}}</p>
        </div>
    </div>
</div>