<input class="osel-search"
       type="search"
       autocomplete="on"
       placeholder="{{options.placeholder}}"
       ng-model="searchInput"
       ng-focus="searchHidden = false"
       ng-keydown="keyFromInput($event)"/>
<div class="osel-search-results" ng-show="searchInput.length > 2 && !searchHidden && resultsAvailable()">
    <div class="osel-search-result-column" ng-repeat="column in searchResults | orderObjectBy:'received'" ng-if="column.error || column.inProgress || column.results.length > 0" data-provider-id="{{column.providerId}}">
        <div class="osel-search-result-header">{{searchProviders[column.providerId].title}}</div>

        <div class="osel-search-result" ng-if="column.inProgress">
            <p>In progress...</p>
        </div>

        <div class="osel-search-result" ng-if="column.error">
            <p>Error</p>
        </div>

        <div class="osel-search-result"
             ng-if="column.results"
             ng-repeat="result in column.results"
             ng-click="selectResult(result, searchProviders[column.providerId].onSelect)"
             data-search-result-index="{{$index}}"
             data-provider-id="{{column.providerId}}"
             tabindex="0"
             ng-keydown="keyFromSearchResult($event, result, column.providerId, searchProviders[column.providerId].onSelect)">
            <p ng-if="result.text">{{result.text}}</p>
        </div>
    </div>
</div>